multi-channel-notification-demo-v3.json
{
  "name": "Multi-Channel Notification System (Demo)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        576,
        -480
      ],
      "id": "7c741076-8bd5-45d1-af92-27548760b656",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://jsonplaceholder.typicode.com/todos/1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        -480
      ],
      "id": "ed1ded37-db38-4b92-a712-4ef00c51ac77",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0APGV62S05",
          "mode": "id"
        },
        "text": "=*Team:* {{ $('HTTP Request').first().json.Team }}\n*Task:* {{ $('HTTP Request').first().json.Task }}\n*Change:* {{ $('HTTP Request').first().json.Change }}\n*Status:* {{ $('HTTP Request').first().json.Status }}\n*Date:* {{ $('HTTP Request').first().json['Date (GMT+04:00)'] }}",
        "otherOptions": {
          "mrkdwn": true
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1936,
        -640
      ],
      "id": "33457579-5b7c-4e60-9561-58684393a426",
      "name": "Slack Notification",
      "webhookId": "cb17e52c-50a6-4543-8560-0689a374b175",
      "credentials": {
        "slackApi": {
          "id": "OGMsVrz2ywq0duSk",
          "name": "n8n Bot"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "saifsalamah@gmail.com",
        "subject": "=Task Update: {{ $('HTTP Request').first().json.Task }} — {{ $('HTTP Request').first().json.Change }}",
        "message": "=<b>Team:</b> {{ $('HTTP Request').first().json.Team }}<br><br>\n<b>Task:</b> {{ $('HTTP Request').first().json.Task }}<br><br>\n<b>Change:</b> {{ $('HTTP Request').first().json.Change }}<br><br>\n<b>Status:</b> {{ $('HTTP Request').first().json.Status }}<br><br>\n<b>Date:</b> {{ $('HTTP Request').first().json['Date (GMT+04:00)'] }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1936,
        -320
      ],
      "id": "b4bf1d9f-deba-4331-8ab7-8aacb3b73530",
      "name": "Gmail Notification",
      "webhookId": "f4695861-a39c-4b24-be63-6a2c30780088",
      "credentials": {
        "gmailOAuth2": {
          "id": "AZtZ7hqHNuFsPGfI",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.notify_channel}}",
                    "rightValue": "Slack",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "sw-cond-001"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Slack"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.notify_channel}}",
                    "rightValue": "Gmail",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    },
                    "id": "sw-cond-002"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Gmail"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1696,
        -480
      ],
      "id": "1b9fba4f-9fcd-4e85-b179-08734f3c70bb",
      "name": "Channel Selector"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ch-set-001",
              "name": "notify_channel",
              "value": "Slack",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1472,
        -480
      ],
      "id": "5ee8c609-fc9b-4501-8343-089edca98161",
      "name": "Select Output Channel"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"parameters\": {\n    \"values\": {\n      \"json\": {\n        \"Team\": \"Operations Team A\",\n        \"Task\": \"Task 001\",\n        \"Change\": \"Registered\",\n        \"Date (GMT+04:00)\": \"2026-03-30\",\n        \"Status\": \"Completed\"\n      }\n    },\n    \"options\": {\n      \"keepOnlySet\": false\n    }\n  },\n  \"name\": \"Fake Set Demo Task\",\n  \"type\": \"n8n-nodes-base.set\",\n  \"typeVersion\": 3,\n  \"position\": [200, 0]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1024,
        -480
      ],
      "id": "13452d0a-0b4b-4df1-a562-e7cb335976b5",
      "name": "Task Details"
    },
    {
      "parameters": {
        "operation": "clearDeduplicationHistory",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        1248,
        -480
      ],
      "id": "9e4ed811-b587-4a9e-a5f0-2f02e9378125",
      "name": "Remove Duplicates",
      "retryOnFail": false,
      "maxTries": 2
    }
  ],
  "pinData": {
    "HTTP Request": [
      {
        "json": {
          "Team": "Operations Team A",
          "Task": "Task 001",
          "Change": "Registered",
          "Date (GMT+04:00)": "2026-03-30",
          "Status": "Completed"
        }
      }
    ]
  },
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Task Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Channel Selector": {
      "main": [
        [
          {
            "node": "Slack Notification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Output Channel": {
      "main": [
        [
          {
            "node": "Channel Selector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Task Details": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Select Output Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "2d0ddff1-6cd0-4015-aaa4-04a5ab0f3fcb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5a0aed88ea2dda315ef45fe67204a9a5ae61b46397483813812df6b5afa15520"
  },
  "id": "OAlHckAhQjTHgUhe",
  "tags": []
}